.header
  background-color: white

  border-bottom: 1px solid rgba(0, 0, 0,0.4)
  z-index: 20


.navbar
  display: flex
  justify-content: space-around

  max-width: 1900px
  min-width: 500px
  margin: 0 auto 10px auto

  &-logo
    display: flex

  &-brand img
    width: 250px
    height: 100px

  &-buttons button
    margin: 10px 0

  &-search .form-control
    width: 200px

