.header
  background-color: white

  border-bottom: 1px solid rgba(0, 0, 0,0.4)
  z-index: 20


.navbar
  display: flex
  justify-content: space-around

  max-width: 1900px
  min-width: 500px
  margin: 0 auto 10px auto

  &-logo
    display: flex

  &-brand img
    width: 250px
    height: 100px

  &-buttons
    text-align: center

    & button
      margin: 10px 0

    &>.btn-light
      display: none

      &.visible
        display: inline-block

  &_room-buttons
    display: none

    &.visible
      display: inline-block

  &-search .form-control
    width: 200px

